html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    box-sizing: border-box;
    background-image: url("img/scenic-view-of-mountains-1095817.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.links {

}
label {
    font-size: 40px;

}
a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-right: 35px;
}
.logo {
    font-size: 40px;
    margin-left: 10rem;
}
.social {

}
.middle-text {
    margin: 0 auto;
    align-self: center;
}
h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 290px;
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 11rem;
}
h2 {
    font-size: 20px;
}
h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 7rem;
}
span {
    color: rgb(2, 72, 100);
}
.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}