html {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url("img/scenic-view-of-mountains-1095817.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}